* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.navlist li a {
    transition: .3s ease-in;
    color: #333;
}

.navlist li a:hover {
    transform: scale(1.2);
    color: rgba(60, 255, 0, 0.767);
}

#home {
    width: 100%;
    height: 90vh;
}
.car {
    height: 90vh;
    position: relative;
    overflow: hidden;
}

.heading {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.heading h2{
    font-size:48px;
}

.img-header .img img {
    width: 100%;
}

#about h1 {
    margin-top: 60px;
    color: #333;
    font-size: 28px;
}

#about p {
    opacity: .5;
}

#program p {
    opacity: .7;
}

.card {
    height: 450px;
}
#logo-besar img{
    width:350px;
    height:350px;
    margin-left:100px;
    margin-top: 30px;
}
#item{
    display: flex;
}
footer{
    padding-left: 10px;
    padding-bottom: 7px;
  }
  footer img{
    float :right;
    width:25%; 
    height:25%;
    max-width: 100%;
    max-height: 100%;
  }
#button{margin: 5% auto;
width: 100px;
text-align: center;}
#button a{
    width: 100px;
    height: 30px;
    vertical-align: middle;
    background-color: #F00;
    color:#fff ;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid transparent;
}
#popup{
    margin-top: 45%;
    width: 100%;
    height: 100%;
    position: ficed;
    background: rgba(0,0,0,.7);
    top: 0;
    left: 0;
    z-index: 9999;
    visibility: hidden;
}
.window {
    margin-top: 45%;
    width: 400px;
    height: 100px;
    background: #fff;
    border-radius: 10px;
    position: relative;
    padding: 10px;
    text-align: center;
    margin: 15% auto;
}
.close-button{
    width: 6%;
    height: 20%;
    line-height: 23px;
    background: #000;
    border-radius: 50%;
    border: 3pc solid #fff;
    display: block;
    text-align: center;
    color: #fff;
    text-decoration: none;
    position: absolute;
    top: -10px;
    right: -10px;
}
#popup:target{
    visibility: visible;
}
@media only screen and (max-width: 700px) {
    #logo-besar img{
        margin-left:60px;
    }
    #item{
        display: block;
    }#home {
        height: 80vh;
    }
}
@media only screen and (max-width: 550px) {
    #logo-besar img{
        margin-left:40px;
    }
    .heading {
        top: 30%;
        font-size: 30px;
    }
    .heading h2{
        font-size: 30px;
    }
    .heading p{
        font-size: smaller;
    }#home {
        height: 70vh;
    }
}
@media only screen and (max-width: 422px) {
    .heading {
        top: 25%;
        font-size: 25px;
    }
    #logo-besar img{
        width: 300px;
        height: 300px;
        margin-left:40px;
    }
}
@media only screen and (max-width: 360px) {
    #logo-besar img{
        margin-top: 100px;
        width: 150px;
        height: 150px;
        margin-left:20px;
    }
    #about{
        margin-top: 100px;
    }
    #item{
        display: block;
    }
    .heading {
        top: 20%;
        font-size: 20px;
    }
    .heading h2{
        font-size: 20px;
    }
    .heading p{
        font-size: smaller;
    }
    
    #home {
        height: 60vh;
    }
    .car {
        height: 70vh;
    }
}
    @media only screen and (max-width: 200px) {
    
        #logo-besar img{
            width: 100px;
            height: 100px;
            margin-left:0px;
            all: none;
            z-index: unset;
        }
    }
