.mb-0 {
    margin-bottom: 0 !important
}

.col-md-12 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

.text-center {
    text-align: center !important
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px
}

.no-gutters {
    margin-right: 0;
    margin-left: 0
}

.px-0 {
    padding-right: 0 !important;
    padding-left: 0 !important
}

.bg-primary {
    background-color: #007bff !important
}

.py-3 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important
}