* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*nav {
    padding-left: 5%;
    padding-right: 5%;
    background: #11101D;
}*/

nav {
    width: 100%;
    z-index: 999;
    padding-left: 5%;
    padding-right: 5%;
    background: #11101D;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
}


nav {
    display: flex;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;

}

.nav-link {
    font-weight: 500;
    color: #39c58b;
}

.nav-link:hover {
    opacity: 0.7;
    color: #11101D;
}

.hero {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 400px;
    background: #11101D;
}

.hero-info {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 300px;
    background: #11101D;
}

.image {
    width: 150%;
}

.explore {
    margin-top: 3em;
}

hr {
    width: 60px;
}

/*.content {
    padding-left: 10%;
    padding-right: 10%;
    display: grid;
    margin: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.content .contentlist {
    width: 300px;
    height: 300px;
    background: #fff;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
}*/

main {
    display: grid;
    grid-template-columns: 1fr repeat(12, minmax(auto, 60px)) 1fr;
    grid-gap: 40px;
    padding: 60px 0;
}

.text--medium {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #11101D;
}

.cards {
    grid-column: 2 / span 12;
    display: grid;
    grid-template-columns: repeat(12, minmax(auto, 60px));
    grid-gap: 40px;
}

.card {
    grid-column-end: span 4;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
}

.card:hover {
    transform: translateY(-7px);
}

.card__image-container {
    width: 100%;
    padding-top: 100%;
    overflow: hidden;
    position: relative;
    border-radius: 15px 15px 0px 0px;
}

.card__image-container img {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card__content {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.card__title {

    font-size: 18px;
}

.text-rute {
    color: #39c58b;
}

.card__info a {
    margin-right: auto;
}

.card__price {
    margin-right: auto;
    padding: 5px 20px;
    background-color: #11101D;
    border-radius: 20px;
    color: #fff;
    transition: .3s;
}

.card__price:hover {
    background-color: #2a6681;
}

.tour-info {
    padding-left: 10%;
    padding-right: 10%;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 6em;
    background: #fff;
}

.map {
    background: #fff;
    padding-top: 2em;
    padding-bottom: 6em;
}

.map .title {
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 2em;
    justify-content: space-between;
    align-items: center;
}

.profilimg {
    width: 45%;
}

.nav-mb {
    display: none;
}

.tourbtn {
    position: relative;
    top: -6em;
    cursor: pointer;
    font-weight: 600;
    color: #fff;
    padding: .5em 2em;
    border: none;
    background: #39c58b;
    border-radius: 8px;
    transition: .3s;
}

.tourbtn:hover {
    background: #11101D;
}

@media only screen and (max-width: 1000px) {
    .card {
        grid-column-end: span 6;
    }
}

@media only screen and (max-width: 700px) {
    .nav-ds {
        display: none;
    }

    .nav-mb {
        display: block;
    }

    .profilimg {
        width: 100%;
    }

    .tour-info {
        padding-left: 10%;
        padding-right: 10%;
        margin-left: 0;
        margin-right: 0;
        padding-top: 2em;
    }

    .map .title {
        padding-left: 10%;
        padding-right: 10%;
    }

    main {
        grid-gap: 20px;
    }

    .card {
        grid-column-end: span 12;
    }
}

@media only screen and (max-width: 500px) {
    main {
        grid-template-columns: 10px repeat(6, 1fr) 10px;
        grid-gap: 10px;
    }

    .cards {
        grid-column: 2 / span 6;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 20px;
    }

    .card {
        grid-column-end: span 6;
    }
}