.container {
    width: 250px;
    height: auto;
    display: block;
}

p {
    font-family: 'Roboto';
    opacity: .7;
    font-size: 16px;
}

.imgtitle img {
    width: 100%;
}

.text img {
    width: 100%;
}

.desc {
    padding-left: 0;
}