* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

span {
  font-size: 18px;
}

span,
a {
  font-weight: 500;
  opacity: .8;
}

.wisata a {
  margin-top: .5em;
}

.wisata #wst {
  font-size: 16px;
  font-weight: 600;
}


li {
  margin: 1em 0;
  padding-left: 1.5em;
}

a {
  display: block;
}

.container {
  width: 20%;
  height: 100vh;
  background-color: #11101D;
}

ul {
  list-style-type: none;
  padding-top: 3em;
}

a {
  text-decoration: none;
}