* {
    font-family: 'Lato';
}

.container {
    width: 60%;
    position: absolute;
    top: 5%;
    left: 10%;
}

.savebtn,
.backbtn {
    cursor: pointer;
    border: none;
    background: #11101D;
    padding: 1em 2em;
    color: #fff;
    border-radius: 8px;
    transition: .3s;
    margin-bottom: 4em;
}

.backbtn {
    margin-left: 1em;
    background: rgb(191, 190, 201);
    color: #11101D;
}

.savebtn:hover,
.backbtn:hover {
    opacity: .7;
}